<div class="formcontainer">
   <form action="/addstudent" method="POST">
      <div>
            <label for="reg">regnumber:</label><br>
            <input type="number" id="reg" name="reg" required>
      </div>
      <div>
            <label for="lastname">Lastname:</label><br>
            <input type="text" id="lastname" name="lastname" required>
      </div>
      <div>
            <label for="firstname">firstname:</label><br>
            <input type="text" id="firstname" name="firstname" required>
      </div>
      <div>
            <label for="phonenumber">Phonenumber:</label><br>
            <input type="number" id="phonenumber" name="phonenumber" required>
      </div>
      <div>
            <label for="id">Id:</label><br>
            <input type="number" id="id" name="id" required>
      </div>
      <div>
            <label for="course">course:</label><br>
            <input type="text" id="course" name="course" required>
      </div>
      <button type="submit">Submit</button>
   </form>
</div>
